*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
h3{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 13, 13);
    text-align: center;
    top: 25px;
    position: absolute;
    backdrop-filter: blur(30px);
    border: 1px solid rgb(0,0,0);
    box-shadow: 10px 10px 20px #ffb7b7, -10px -10px 20px #f7bfbf;
    font-size: 40px;
    font-weight: 1000;
    border-radius: 10px;
}
h1::before{
    position: absolute;
    content: "LOTUS";
    color: rgb(102,255,0);
    animation: buiha 4s linear infinite;
    border-right: 3px solid gray;
    overflow: hidden;
    
}
@keyframes buiha {
        0% {
            width: 0%;
        }
        50% {
            width: 100%;
        }
        100% {
            width: 0%;
        }
}

/*  */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://img.freepik.com/free-vector/gradient-blur-pink-blue-abstract-background_53876-117324.jpg);
    background-size: cover;
}
/* Thiết lập cơ bản */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
}

/* Container */
.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(pink, rgb(163, 117, 163), rgb(11, 110, 156));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Avatar */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.social-logo {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của container */
    height: auto; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
    margin-left: 0; /* Không tạo khoảng cách giữa liên kết và logo */
    position: relative;
    top: 10px;
    bottom: 10px;
    width: 30px; /*Đặt chiều rộng của logo */
    height: auto; /* Tự động điều chỉnh chiều cao */
    margin-left: 0px; /* Tạo khoảng cách giữa liên kết và logo */
    vertical-align: middle; /* Căn giữa logo với văn bản */
}

p {
    font-size: 14px;
    color: #00eb3b;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Liên kết */
.link {
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: pink;
    color: #81008d;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #ff8800;
}
.tich{
    color: rgb(0, 47, 255);
    display: inline;
}