/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: linear-gradient(135deg, #d86b98, #56a8d1, #0045b4);
    min-height: 100%;
    background-attachment: fixed;
}
.eror {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
}
.header {
    margin: 50px 0;
    font-weight: bold;
    position: relative;
}
.header__page {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    font-size: 50px;
    color: rgba(0, 5, 5, 0.877);
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #343d34 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 760;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    user-select: none;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 220px;
    }
    100% {
        background-position: 220px;
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin: 50px 0;
    border: 6px solid #fff;
    background: url('../img/logo.png') no-repeat center;
    background-size: cover;
    animation: float 2s ease-in-out infinite;
}
.sdow_box {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.social--link {
    display: flex;
    gap: 30px;
    margin: 20px 0;

    position: relative;
}
.social--link__item {
    text-decoration: none;
}
.social--link__item:hover .social--link__item--logo{
    transform: scale(1.12);
    transition: transform 0.4s ease;
    border: 1px solid rgb(197, 149, 157);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(226, 171, 180);
}
.social--link__item:hover .social--link__item--logo--zalo {
    border-radius: 26%;
}
.social--link__item--logo {
    width: 60px;
    height: 60px;
    border: 2.8px solid #68e05d;
    border-radius: 50%;
}
.social--link__item--logo--zalo {
    border-radius: 26%;
}
/* footer */
.footer {
    opacity: 0.8;
    color: var(--black-color);
}
.footer__page {
    font-size: 1.4rem;
    user-select: none;
    margin: 30px 0 20px 0;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    animation: glitch 1s infinite;
}
@keyframes glitch {
    0% { text-shadow: 0 0 5px #0ff, 0 0 10px #0ff; }
    50% { text-shadow: 0 0 10px #ff0, 0 0 20px #ff0; }
    100% { text-shadow: 0 0 5px #0ff, 0 0 10px #0ff; }
}
/* tròn phát sáng
.circle-container {
    display: flex;
    gap: 40px; Khoảng cách giữa các hình tròn
    margin-top: 50px;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6),
                0 0 30px 10px rgba(100, 150, 255, 0.8),
                0 0 45px 15px rgba(50, 100, 255, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle:hover {
    transform: scale(1.2); 
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.8),
                0 0 40px 20px rgba(100, 150, 255, 1),
                0 0 60px 30px rgba(50, 100, 255, 1);
} */

.link-bars {
    width: 100%;
    max-width: 340px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, rgb(216, 241, 252), rgba(93, 116, 189, 1),   rgba(159, 65, 78, 1));
    box-shadow: 0 0 20px rgb(216, 241, 252), 0 0 20px rgba(159, 65, 78, 1);
    border: 4px solid rgb(201, 229, 238);
    margin: 20px 0;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    color: #d4f1ca;
    font-weight: 740;
    font-family: Arial, sans-serif;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bar:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.text {
    margin-left: 20px;
    flex: 1;
    text-align: right;
    text-shadow: 0 0 7px #000000d7;
}